/*===============================================================*/
/*= reset.css												   	=*/
/*===============================================================*/
/*= 1: Typography												=*/
/*= 2: Default style removal									=*/
/*= 3: Browser fix												=*/
/*===============================================================*/

/*===============================================================*/
/*= 1: Typography												=*/
/*===============================================================*/

/*===============================================================*/
/*===============================================================*/
/*= 2: Default style removal									=*/
/*===============================================================*/
body, html
{
	height: 100%;
}

body,
ul,
p,
h1,h2,h3,h4,h5,h6
{
	padding: 0;
	margin: 0;
	font-weight: inherit;
}

ol,
ul
{
	list-style: none;
}

blockquote, q 
{
	quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after 
{
	content: '';
	content: none;
}

table 
{
	border-collapse: collapse;
	border-spacing: 0;
}

a
{
	color: inherit;
	text-decoration: none;
	background: transparent;
}

a:visited,
a:active,
a:hover
{
	color: inherit;
	outline: 0;
	text-decoration: none;
}
/*===============================================================*/
/*===============================================================*/
/*= 3: Browser fix												=*/
/*===============================================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary 
{
 	display: block;
 	margin: 0;
 	padding: 0;
}

audio,
canvas,
progress,
video
{
	display: inline-block;
	vertical-align: baseline;
}
/*===============================================================*/