/*===============================================================*/
/*= reset.css												   	=*/
/*===============================================================*/

/*===============================================================*/
/*= 1: Typography												=*/
/*===============================================================*/
html
{
	font-size: 62.5%;
}

body
{
	font-size: 1.4rem;
}
/*===============================================================*/
/*===============================================================*/
/*= 2: Default style removal									=*/
/*===============================================================*/
body, html
{
	height: 100%;
}

body,
ul,
p,
h1,h2,h3,h4,h5,h6
{
	padding: 0;
	margin: 0;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
	background: transparent;
}

a:visited,
a:active,
a:hover
{
	outline: 0;
	text-decoration: none;
}
/*===============================================================*/
/*===============================================================*/
/*= 3: Browser fix												=*/
/*===============================================================*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary 
{
 	display: block;
 	margin: 0;
 	padding: 0;
}

audio,
canvas,
progress,
video
{
	display: inline-block;
	vertical-align: baseline;
}
/*===============================================================*/